
* {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    gap: 10px;
}

.boxAll {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4,318px);
    grid-template-rows: repeat(4,245px);
    width: 1300px;
    gap: 10px;
    margin-top: 120px;
}

button {
    margin-top: 650px;
    height: 60px;
    width: 180px;
    font-size: 24px;
    background-color: rgb(248, 166, 14);
    border: none;
    position: fixed;
    color: white;
    margin-left: 640px;
}

button:active {
    transform: scale(0.96);
    opacity: 0.9;
}

section {
    height: 100vh;
    display: grid;
    justify-content: center;
    gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    color: blue;
    opacity: 0;
}



.loading {
    height: 80px;
    width: 80px;
    animation-name: example;
    animation-iteration-count: infinite;
    position: absolute;
    opacity: 1;
    margin-left: 120px;
    margin-top: 80px;
}

  @keyframes example {
    0%   { transform: rotate(0); }
    100% { transform: rotate(720deg); }
  }